---
title: LP3ドメインモデル設計書
---

---
toc-title: 目次
---

# はじめに

本ドキュメントは、LP3のドメインモデルの設計書である。<br>
ドメインモデルは、LP3ドメインに存在する概念とその情報を識別してそれぞれに名前を付けたものである。<br>

## ドメイン、モジュール、パッケージ、オブジェクト

本設計では、LP3ドメイン全体を意味的・機能的な境界を用いていくつかのモジュールに分割している。<br>
各モジュールはマイクロサービスアーキテクチャにおけるマイクロサービスに相当する程度の粒度・境界としている。<br>
モジュールは、いくつかのパッケージから構成される。<br>
パッケージは一般的なプログラミング言語におけるパッケージや名前空間に相当し、ドメインモデルや列挙型、インターフェースなどのオブジェクトを含む。<br>
<br>
実装においては、本設計のモジュール、パッケージ、オブジェクトの境界から大きくずれない状態となることが望ましい。<br>
ただし以下の注意点にあるように、本設計が具体的な実装の仕方を拘束するものではない。<br>
また実装との乖離が大きくなる場合は本設計にフィードバックを行う方針である。<br>

## 注意点

<br>
本設計書で定義するドメインモデルは、データモデルやデータアクセスモデルではない。<br>
データモデルは、ドメインモデル群を記憶媒体にどのような形で永続化・格納するかを定義するものである。<br>
データアクセスモデルは、データモデルへの読み書き方法を定義するものである。Laravelの「モデル」は多くの場合データアクセスモデルを指す。<br>
<br>
また、ドメインモデルはビューモデルでもない。<br>
ビューモデルは、ドメインモデル群から得られる情報をプレゼンテーションする際にどのような形にまとめるかを定義するものである。<br>
<br>
本設計書ではドメインモデルの定義に便宜上クラス図を用いるが、特定のパラダイムを指していない。<br>
特定の言語やシステム、フレームワークにおける実装の方法も指定していない。

# LP3ドメインのモジュール構成

LP3ドメインは以下のモジュールから構成される。

* `lp3-core`モジュール
* `lp3-ship`モジュール
* `lp3-cargo`モジュール
* `lp3-job`モジュール
* `lp3-sales`モジュール
* `lp3-bi`モジュール
* `exl-inttra`モジュール
* `exl-sync-banc`モジュール
* `exl-sync-dp`モジュール
* `exl-sync-ftp`モジュール
* `exl-sync-metabase`モジュール
* `exl-sync-web`モジュール
* `exl-bfwd-ftp`モジュール

`lp3-`から始まるモジュールは、LP3の中心的な機能を実現するためのモジュールで、<br>
`exl-`から始まるモジュールは、LP3と外部システムとの連携を実現するためのモジュールである。<br>
以下ではそれぞれのモジュールについて説明する。

{% include 'lp3-core/index.md.j2' %}
{% include 'lp3-ship/index.md.j2' %}
{% include 'lp3-cargo/index.md.j2' %}
{% include 'lp3-job/index.md.j2' %}
{% include 'lp3-sales/index.md.j2' %}
{% include 'lp3-bi/index.md.j2' %}
{% include 'exl-inttra/index.md.j2' %}
{% include 'exl-sync-banc/index.md.j2' %}
{% include 'exl-sync-dp/index.md.j2' %}
{% include 'exl-sync-ftp/index.md.j2' %}
{% include 'exl-sync-metabase/index.md.j2' %}
{% include 'exl-sync-web/index.md.j2' %}
{% include 'exl-bfwd-ftp/index.md.j2' %}
