# lp3-cargoモジュール

lp3-cargoモジュールは、LP3の貨物管理機能を実現するモジュールである。<br>
このモジュールは以下のパッケージから構成される。

* `lp3-cargo`パッケージ
  * `chassis`パッケージ

以下ではそれぞれのパッケージと、パッケージに含まれるオブジェクトについて説明する。

## lp3-cargoパッケージ

このパッケージには、貨物関連の共通オブジェクトが含まれる。

{% include 'lp3-cargo/Cargo.md' %}
{% include 'lp3-cargo/CargoType.md' %}
{% include 'lp3-cargo/CargoActivity.md' %}

{% include 'lp3-cargo/chassis/index.md.j2' %}
