## lp3-core.userパッケージ

このパッケージには、システム利用者関連のオブジェクトが含まれる。

{% include 'lp3-core/user/Organization.md' %}
{% include 'lp3-core/user/User.md' %}
{% include 'lp3-core/user/UserConfig.md' %}
{% include 'lp3-core/user/UserLoginSession.md' %}
{% include 'lp3-core/user/Office.md' %}
{% include 'lp3-core/user/Yard.md' %}
{% include 'lp3-core/user/YardGroup.md' %}
