# lp3-coreモジュール

## lp3-coreパッケージ

このパッケージでは、ドメインモデルの同名パッケージに対応するデータモデル群を定義する。

{% include 'lp3-core/data_model.md' %}

{# % include 'lp3-core/util/index.md.j2' % #}
{# % include 'lp3-core/i18n/index.md.j2' % #}
{% include 'lp3-core/geography/index.md.j2' %}
{% include 'lp3-core/accounting/index.md.j2' %}
{# % include 'lp3-core/privilege/index.md.j2' % #}
{# % include 'lp3-core/user/index.md.j2' % #}
