## lp3-core.geographyパッケージ

このパッケージでは、ドメインモデルの同名パッケージに対応するデータモデル群を定義する。

{# % include 'lp3-core/geography/Address.md' % #}
{% include 'lp3-core/geography/region.md' %}
{# % include 'lp3-core/geography/inspection_type.md' % #}
{% include 'lp3-core/geography/country.md' %}
{# % include 'lp3-core/geography/location.md' % #}
{# % include 'lp3-core/geography/port.md' % #}
{# % include 'lp3-core/geography/destination.md' % #}
