## lp3-job.roro_jobパッケージ

このパッケージには、RORO船積み作業に関するオブジェクトが含まれる。

{% include 'lp3-job/roro_job/RoroJob.md' %}
{% include 'lp3-job/roro_job/RoroJobDocument.md' %}
{% include 'lp3-job/roro_job/RoroJobDocumentEvent.md' %}
{% include 'lp3-job/roro_job/RoroJobPhoto.md' %}

{% include 'lp3-job/roro_job/history/RoroJobUpdateHistory.md' %}
{% include 'lp3-job/roro_job/history/RoroJobDocumentDownloadHistory.md' %}
