# lp3-shipモジュール

lp3-shipモジュールは、LP3の本船管理機能を実現するモジュールである。<br>
このモジュールは以下のパッケージから構成される。

* `lp3-ship`パッケージ

以下ではそれぞれのパッケージと、パッケージに含まれるオブジェクトについて説明する。

## lp3-shipパッケージ

このパッケージには、本船関連のオブジェクトが含まれる。

{% include 'lp3-ship/ShipCompany.md' %}
{% include 'lp3-ship/Ship.md' %}
{% include 'lp3-ship/ShipSchedule.md' %}
{% include 'lp3-ship/ShipScheduleItem.md' %}
{% include 'lp3-ship/ContainerShipScheduleItem.md' %}
{% include 'lp3-ship/RoroShipScheduleItem.md' %}
{% include 'lp3-ship/ConroShipScheduleItem.md' %}

{% include 'lp3-ship/history/ShipScheduleUpdateHistory.md' %}
