## lp3-sales.billingパッケージ

このパッケージには、請求関連のオブジェクトが含まれる。

{% include 'lp3-sales/billing/Billing.md' %}
{% include 'lp3-sales/billing/BillingItem.md' %}

' TODO 車輌、コンテナ、ROROに対して請求情報を付加する必要がある。Billingは請求書を指す。
' ChassisBilling, RoroJobBilling, ContainerJobBillingなど。'
