## lp3-core.accountingパッケージ

このパッケージでは、ドメインモデルの同名パッケージに対応するデータモデル群を定義する。

{% include 'lp3-core/accounting/currency.md' %} 
{% include 'lp3-core/accounting/tax_type.md' %}
{% include 'lp3-core/accounting/tax_class.md' %}
{% include 'lp3-core/accounting/tax_rate.md' %}
