<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>

            <!-- 各サービスのテストを追加 -->
            <directory suffix="Test.php">./services/exl-bfwd-ftp/tests/Unit</directory>
            <directory suffix="Test.php">./services/exl-inttra/tests/Unit</directory>
            <directory suffix="Test.php">./services/exl-sync-banc/tests/Unit</directory>
            <directory suffix="Test.php">./services/exl-sync-dp/tests/Unit</directory>
            <directory suffix="Test.php">./services/exl-sync-ftp/tests/Unit</directory>
            <directory suffix="Test.php">./services/exl-sync-metabase/tests/Unit</directory>
            <directory suffix="Test.php">./services/exl-sync-web/tests/Unit</directory>
            <directory suffix="Test.php">./services/lp3-bi/tests/Unit</directory>
            <directory suffix="Test.php">./services/lp3-cargo/tests/Unit</directory>
            <directory suffix="Test.php">./services/lp3-core/tests/Unit</directory>
            <directory suffix="Test.php">./services/lp3-job/tests/Unit</directory>
            <directory suffix="Test.php">./services/lp3-sales/tests/Unit</directory>
            <directory suffix="Test.php">./services/lp3-ship/tests/Unit</directory>
            <directory suffix="Test.php">./services/sample-alice/tests/Unit</directory>
            <directory suffix="Test.php">./services/sample-bob/tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>

            <!-- 各サービスのテストを追加 -->
            <directory suffix="Test.php">./services/exl-bfwd-ftp/tests/Feature</directory>
            <directory suffix="Test.php">./services/exl-inttra/tests/Feature</directory>
            <directory suffix="Test.php">./services/exl-sync-banc/tests/Feature</directory>
            <directory suffix="Test.php">./services/exl-sync-dp/tests/Feature</directory>
            <directory suffix="Test.php">./services/exl-sync-ftp/tests/Feature</directory>
            <directory suffix="Test.php">./services/exl-sync-metabase/tests/Feature</directory>
            <directory suffix="Test.php">./services/exl-sync-web/tests/Feature</directory>
            <directory suffix="Test.php">./services/lp3-bi/tests/Feature</directory>
            <directory suffix="Test.php">./services/lp3-cargo/tests/Feature</directory>
            <directory suffix="Test.php">./services/lp3-core/tests/Feature</directory>
            <directory suffix="Test.php">./services/lp3-job/tests/Feature</directory>
            <directory suffix="Test.php">./services/lp3-sales/tests/Feature</directory>
            <directory suffix="Test.php">./services/lp3-ship/tests/Feature</directory>
            <directory suffix="Test.php">./services/sample-alice/tests/Feature</directory>
            <directory suffix="Test.php">./services/sample-bob/tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
