# lp3-jobモジュール

lp3-jobモジュールは、LP3の船積み作業機能を実現するモジュールである。<br>
このモジュールは以下のパッケージから構成される。

* `lp3-job`パッケージ
  * `container_job`パッケージ
  * `roro_job`パッケージ

以下ではそれぞれのパッケージと、パッケージに含まれるオブジェクトについて説明する。

## lp3-jobパッケージ

このパッケージには、船積み作業関連の共通オブジェクトが含まれる。

{% include 'lp3-job/Job.md' %}
{% include 'lp3-job/JobType.md' %}

{% include 'lp3-job/container_job/index.md.j2' %}
{% include 'lp3-job/roro_job/index.md.j2' %}
