## lp3-cargo.chassisパッケージ

このパッケージには、車輌関連のオブジェクトが含まれる。

{% include 'lp3-cargo/chassis/CarBrand.md' %}
{% include 'lp3-cargo/chassis/CarModel.md' %}
{% include 'lp3-cargo/chassis/Chassis.md' %}
{% include 'lp3-cargo/chassis/ChassisDocument.md' %}
{% include 'lp3-cargo/chassis/ChassisPhoto.md' %}
{% include 'lp3-cargo/chassis/ChassisActivity.md' %}
{% include 'lp3-cargo/chassis/ChassisCarryActivity.md' %}
{% include 'lp3-cargo/chassis/ChassisInspectionActivity.md' %}
{% include 'lp3-cargo/chassis/ChassisShareableLink.md' %}

{% include 'lp3-cargo/chassis/history/ChassisUpdateHistory.md' %}
{% include 'lp3-cargo/chassis/history/ChassisPhotoDownloadHistory.md' %}
