## lp3-core.i18nパッケージ

このパッケージには、国際化対応関連のオブジェクトが含まれる。

{% include 'lp3-core/i18n/Locale.md' %}
{% include 'lp3-core/i18n/LocalizableString.md' %}
{% include 'lp3-core/i18n/TimeZone.md' %}
{% include 'lp3-core/i18n/Honorific.md' %}
