---
title: LP3データモデル設計書
---

---
toc-title: 目次
---

# はじめに

本ドキュメントは、LP3のデータモデルの設計書である。<br>
データモデルは、LP3のドメインモデルをストレージ上に永続化・格納する方式を取り決めたものであり、<br>
Laravelにおける「モデル」にほぼ直接対応する。

# LP3データのディレクトリ構成

LP3データは以下のディレクトリから構成される。<br>

{% include 'lp3-core/index.md.j2' %}
{% include 'lp3-ship/index.md.j2' %}
{# % include 'lp3-cargo/index.md.j2' % #}
{# % include 'lp3-job/index.md.j2' % #}
{# % include 'lp3-sales/index.md.j2' % #}
{# % include 'lp3-bi/index.md.j2' % #}
{# % include 'exl-inttra/index.md.j2' % #}
{# % include 'exl-sync-banc/index.md.j2' % #}
{# % include 'exl-sync-dp/index.md.j2' % #}
{# % include 'exl-sync-ftp/index.md.j2' % #}
{# % include 'exl-sync-metabase/index.md.j2' % #}
{# % include 'exl-sync-web/index.md.j2' % #}
{# % include 'exl-bfwd-ftp/index.md.j2' % #}
