## lp3-core.geographyパッケージ

このパッケージには、地理情報関連のオブジェクトが含まれる。

{% include 'lp3-core/geography/Address.md' %}
{% include 'lp3-core/geography/Region.md' %}
{% include 'lp3-core/geography/InspectionType.md' %}
{% include 'lp3-core/geography/Country.md' %}
{% include 'lp3-core/geography/Location.md' %}
{% include 'lp3-core/geography/Port.md' %}
{% include 'lp3-core/geography/Destination.md' %}
