## lp3-core.accountingパッケージ

このパッケージには、一般的な会計関連のオブジェクトが含まれる。

{% include 'lp3-core/accounting/Currency.md' %}
{% include 'lp3-core/accounting/TaxType.md' %}
{% include 'lp3-core/accounting/TaxClass.md' %}
{% include 'lp3-core/accounting/TaxRate.md' %}
