# lp3-shipモジュール

## lp3-shipパッケージ

このパッケージでは、ドメインモデルの同名パッケージに対応するデータモデル群を定義する。

{% include 'lp3-ship/ship_company.md' %}
{% include 'lp3-ship/ship.md' %}
{# % include 'lp3-ship/ShipSchedule.md' % #}
{# % include 'lp3-ship/ShipScheduleItem.md' % #}
{# % include 'lp3-ship/ContainerShipScheduleItem.md' % #}
{# % include 'lp3-ship/RoroShipScheduleItem.md' % #}
{# % include 'lp3-ship/ConroShipScheduleItem.md' % #}

{# % include 'lp3-ship/history/ShipScheduleUpdateHistory.md' % #}
