# lp3-salesモジュール

lp3-salesモジュールは、LP3の販売管理機能を実現するモジュールである。<br>
このモジュールは以下のパッケージから構成される。

* `lp3-sales`パッケージ
  * `product`パッケージ
  * `quotation`パッケージ
  * `billing`パッケージ

以下ではそれぞれのパッケージと、パッケージに含まれるオブジェクトについて説明する。

{% include 'lp3-sales/product/index.md.j2' %}
{% include 'lp3-sales/quotation/index.md.j2' %}
{% include 'lp3-sales/billing/index.md.j2' %}
