## lp3-job.container_jobパッケージ

このパッケージには、コンテナ船積み作業に関するオブジェクトが含まれる。

{% include 'lp3-job/container_job/ContainerJob.md' %}
{% include 'lp3-job/container_job/ContainerJobDocument.md' %}
{% include 'lp3-job/container_job/ContainerJobDocumentEvent.md' %}
{% include 'lp3-job/container_job/ContainerJobPhoto.md' %}

{% include 'lp3-job/container_job/history/ContainerJobUpdateHistory.md' %}
{% include 'lp3-job/container_job/history/ContainerJobDocumentDownloadHistory.md' %}
