## lp3-core.utilパッケージ

このパッケージには、LP3内で汎用的に使う型やオブジェクトが含まれる。

{% include 'lp3-core/util/File.md' %}
{% include 'lp3-core/util/Document.md' %}
{% include 'lp3-core/util/AttachedDocument.md' %}
{% include 'lp3-core/util/FileDocument.md' %}
{% include 'lp3-core/util/Memento.md' %}
{% include 'lp3-core/util/JsonMemento.md' %}
{% include 'lp3-core/util/History.md' %}
{% include 'lp3-core/util/UpdateHistory.md' %}
