# exl-inttraモジュール

exl-inttraモジュールは、LP3とINTTRA社サービスとの連携を実現するモジュールである。<br>
このモジュールは以下のパッケージから構成される。

* `exl-inttra`パッケージ
  * `schedule`パッケージ
  * `tracking`パッケージ

以下ではそれぞれのパッケージと、パッケージに含まれるオブジェクトについて説明する。

{% include 'exl-inttra/schedule/index.md.j2' %}
{% include 'exl-inttra/tracking/index.md.j2' %}
